<form role="form" class="form-horizontal block-attribute-list">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Favorite</th>
            <th>Attribute1</th>
            <th>Attribute2</th>
            <th>Attribute3</th>
            <th><input class="checkbox" type="checkbox" /></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Clothing</td>
            <td>Kids</td>
            <td>Girls</td>
            <td>4-6</td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <tr>
            <td>Toys</td>
            <td>Outdoor</td>
            <td></td>
            <td></td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <tr>
            <td>Household</td>
            <td>Kitchen</td>
            <td>Organization</td>
            <td></td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <tr>
            <td>Clothing</td>
            <td>Womens</td>
            <td>Formal</td>
            <td>8-12</td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <tr>
            <td>Search</td>
            <td>Kate Spade</td>
            <td></td>
            <td></td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <tr>
            <td>Search</td>
            <td>Goach</td>
            <td></td>
            <td></td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>

        </tbody>        
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right" type="submit">Delete Selected</button>
    </div>    
  </div>
</form>