<form role="form" class="form-horizontal block-attribute-list">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Favorite</th>
            <th>Attribute1</th>
            <th>Attribute2</th>
            <th>Attribute3</th>
            <th><input class="checkbox" type="checkbox" /></th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.category.name %></td>
            <td><%= favorite.person_type.name %></td>
            <td><%= favorite.size.name %></td>
            <td><%= favorite.search_word %></td>
            <td><input class="checkbox" type="checkbox" /></td>
          </tr>
          <% end %>
        </tbody>        
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right" type="submit">Delete Selected</button>
    </div>    
  </div>
</form>