<h3></h3>
<div class="col-md-12 form-horizontal">  
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-6">Zip</label>      
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Radius</label>      
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-6">Friends Required</label>      
      <div class="col-md-6">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Status</label>      
      <div class="col-md-6">
        <select class="form-control">
          <option>Active</option>
          <option>Disabled</option>
        </select>
      </div>
    </div>

  </div>
</div>

