<h3></h3>
<div class="col-md-12 form-horizontal">  
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-6">Name</label>      
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Max Pickup Radius</label>      
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Status</label>      
      <div class="col-md-6">
        <select class="form-control">
          <option>Active</option>
          <option>Disabled</option>
        </select>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-6">Max Price</label>
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Min Price</label>
      <div class="col-md-6">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-6">Min Condition</label>      
      <div class="col-md-6">
        <select class="form-control">
          <option>New</option>
          <option>Like New</option>
          <option>Gently Used</option>
        </select>
      </div>
    </div>    
  </div>

</div>

