<div class="page-header">
  <h3>Circles</h3>
</div>
<div class="row">

  <form role="search" class="navbar-form">
    <div class="form-group">
      <input type="text" placeholder="Search" class="form-control">
    </div>
    <button class="btn btn-default" type="submit">Search</button>    
    <a class="btn btn-default pull-right" href="<%= new_circle_url %>"><i class="fa fa-plus-square-o"></i>Create Circle</a>    
  </form>

</div>
<%= render :template => "circles/index", :locals => {:circles => @circles} %>


<!-- <h3>Circle Details</h3>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Info</a></li>
  <li><a href="#">Items</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Preferences</a></li>
  <li><a href="#">Circles</a></li>
</ul> -->
<%#= render 'user_details_info' %>



