  <div class="page-header">
    <h3>Friends</h3>
  </div>

  <% @friends.each do |friend| %>
    <div class="col-md-3">            
      <a href="#" class="thumbnail">
        <img src="<%= friend[:picture] %>" alt="<%= friend['name'] %>" width="100" height="100" >        
        <%= friend['name'] %>
      </a>      
    </div>
  <% end %>
