<div class="row left-content">

  <div class="page-header">
    <h3 >Settings</h3>
  </div>

  <form class="form-horizontal block-setting-form" role="form">
  <%= form_for(:favorite, url: create_favorite_url, method: 'post', html: { class: 'form-horizontal block-setting-form', role: 'form'}) do |f| %>
    <div class="form-group">
      <label class="col-md-2 control-label" for="search_word">Search Word</label>
      <div class="col-md-10">
        <input id="search_word" class="form-control" type="text" placeholder="ex Kitchen Aid, Burley">
      </div>
    </div>
    <div class="form-group">    
      <div class="col-md-12">
        <label class="control-label">Category</label>
      </div>
    </div>
    <div class="form-group">      
      <div class="col-md-4">
        <select class="form-control">
          <option>Clothings</option>
          <option>Electronics</option>
          <option>Garden Supplies</option>
          <option>Household Goods</option>
          <option>Toys</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Womens</option>
          <option>Men's</option>
          <option>Kids - Girls</option>
          <option>Kids - Boys</option>
          <option>Unisex</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Sizes</option>
          <option>0-2</option>
          <option>4-6</option>
          <option>8-12</option>
          <option>14-18</option>
          <option>20+</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-primary pull-right" type="submit">Save as Favorite</button>
      </div>
    </div>
  </form>
  <form role="form" class="form-horizontal block-attribute-list">
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Favorite</th>
              <th>Attribute1</th>
              <th>Attribute2</th>
              <th>Attribute3</th>
              <th><input class="checkbox" type="checkbox" /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Clothing</td>
              <td>Kids</td>
              <td>Girls</td>
              <td>4-6</td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>
            <tr>
              <td>Toys</td>
              <td>Outdoor</td>
              <td></td>
              <td></td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>
            <tr>
              <td>Household</td>
              <td>Kitchen</td>
              <td>Organization</td>
              <td></td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>
            <tr>
              <td>Clothing</td>
              <td>Womens</td>
              <td>Formal</td>
              <td>8-12</td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>
            <tr>
              <td>Search</td>
              <td>Kate Spade</td>
              <td></td>
              <td></td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>
            <tr>
              <td>Search</td>
              <td>Goach</td>
              <td></td>
              <td></td>
              <td><input class="checkbox" type="checkbox" /></td>
            </tr>

          </tbody>        
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-danger pull-right" type="submit">Delete Selected</button>
      </div>    
    </div>
  </form>
</div>