<div class="row left-content">

  <div class="page-header">
    <h3 >Settings</h3>
  </div>
  
  <%= render :template => "favorites/new", :locals => {:favorite => @favorite} %>
  <%= render :template => "favorites/index", :locals => {:favorites => @favorites} %>
  
  <%#= render 'favorites/index' %>

</div>