<div class="col-md-12 block-recent-activity">
  <div class="page-header">
    <h3>Recent Activity</h3>
  </div>  
  <a type="button" class="btn btn-success col-md-12"> Kid's Playst Anytown, IN     $300</a>
  <a type="button" class="btn btn-success col-md-12"> Gameboy      Anytown, IN     $5</a>

  <a type="button" class="btn btn-warning col-md-12"> Black Dress  Anytown, IN     $300</a>
  <a type="button" class="btn btn-warning col-md-12"> Double Sled  Anytown, IN     $5</a>

  <a type="button" class="btn btn-danger col-md-12">  Ashely       Anytown, IN     $5</a>

</div>