<header>
  <div class="container">
    <div class="col-md-12">
      <div class="btn-group">
        <a type="button" class="btn btn-default active">Users</a>
        <a type="button" class="btn btn-default" href="#">Circles</a>      
        <a type="button" class="btn btn-default" href="#">Settings</a>
      </div>
    </div>    
  </div>
</header>