<div class="col-md-12 block-watchlist">
  <div class="page-header">
    <h3>Watchlist</h3>
  </div>
  <div class="watchlist-content">  
    
  </div>
  <div class="btn-group block-watchlist-action">
    <button type="button" class="btn btn-default col-md-4 active">Current</button>
    <button type="button" class="btn btn-default col-md-4">History</button>
    <button type="button" class="btn btn-default col-md-4">Map Pickup</button>
  </div>

</div>


<div class="col-md-12 block-watchlist">
  <div class="page-header">
    <h3>My Items for Sale <a class="btn btn-default pull-right" href="<%= new_item_url %>"><i class="fa fa-plus-square-o"></i>  New Item</a></h3>
  </div>  
  
  <div class="saleslist-content">
  </div>
  

</div>