<div class="col-md-12 block-watchlist">
  <div class="page-header">
    <h3>Watchlist</h3>
  </div>  
  <a type="button" class="btn btn-success col-md-12"> Kid's Playst 1st Anytown, IN     $300</a>
  <a type="button" class="btn btn-success col-md-12"> Gameboy      3st Anytown, IN     $5</a>

  <a type="button" class="btn btn-warning col-md-12"> Black Dress  1st Anytown, IN     $300</a>
  <a type="button" class="btn btn-warning col-md-12"> Double Sled  3st Anytown, IN     $5</a>

  <a type="button" class="btn btn-danger col-md-12">  Ashely       3st Anytown, IN     $5</a>

  <div class="btn-group block-watchlist-action">
    <button type="button" class="btn btn-default col-md-4">Current</button>
    <button type="button" class="btn btn-default col-md-4">History</button>
    <button type="button" class="btn btn-default col-md-4">Map Pickup</button>
  </div>

</div>


<div class="col-md-12 block-watchlist">
  <div class="page-header">
    <h3>My Items for Sale <a class="btn btn-default pull-right" href="<%= new_item_url %>">New Item</a></h3>
  </div>  
  <a type="button" class="btn btn-success col-md-12"> Kid's Playst Anytown, IN     $300</a>
  <a type="button" class="btn btn-success col-md-12"> Gameboy      Anytown, IN     $5</a>

  <a type="button" class="btn btn-warning col-md-12"> Black Dress  Anytown, IN     $300</a>
  <a type="button" class="btn btn-warning col-md-12"> Double Sled  Anytown, IN     $5</a>

  <a type="button" class="btn btn-danger col-md-12">  Ashely       Anytown, IN     $5</a>

</div>