

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap 
 *= require font-awesome 
 *= require_tree . 
 */


header {
  margin: 10px 0;
}
.left-content{
  border: 1px solid #eeeeee;
  border-radius: 4px;
  min-height: 400px !important;
  padding: 0 2%;
}
.block-watchlist, .block-watchlist {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 350px;
}
.block-watchlist .btn {
  margin:1px 0;
}
.block-attribute-list {

}
.block-setting-form {
  margin-bottom: 50px;
}
.block-attribute-list {
  margin-bottom: 30px;
}

.block-watchlist-action {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  left: 0;
}
.item-block {
  padding: 1%;
  border: 1px solid #efefef;
  margin: 5px 0;
}
.item-block .thumbnail .inactive {
  display: none;
}
.item-block .thumbnail .active {
  display: block;
}
.circle-row {
  cursor: pointer;
}

..fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload-photo-progress-bar {
  display: none;
}
.post-page .thumbnail-active {
  border-color: #66717C;
}
.table-circles tr td {
  line-height: 23px !important;
  cursor: pointer;
}
.table-circles .sel-circle-icon {
  font-size: 23px;
}
#map-canvas {
  min-width: 250px;
  min-height: 250px;  
}







